#performer-page {
  .performer-image-container {
    .btn {
      box-shadow: none;
    }

    .performer {
      max-height: calc(100vh - 6rem);
      max-width: 100%;
    }
  }

  .content-container {
    padding-bottom: 10px;
  }

  .performer-head {
    display: inline-block;
    vertical-align: top;

    .name-icons {
      .not-favorite {
        color: rgba(191, 204, 214, 0.5);
      }

      .favorite {
        color: #ff7373;
      }

      .instagram {
        color: pink;
      }
    }

    .rating-number .form-control {
      width: inherit;
    }
  }

  .alias {
    font-weight: bold;
  }
}

.new-view {
  margin-bottom: 2rem;

  .photo {
    padding: 1rem 1rem 1rem 2rem;
    width: 100%;
  }
}
.perfbuttondiv:hover .alt-hidden {
  opacity: 1!important;
}
.perfbuttondiv:hover .performer {
  opacity: 0;
}
div.row:has(.performer-card) {
  .performer-card {
    min-width: calc(100vw/5 - 10px)!important;
    background-color: #202020;
    margin: 5px;
    border-radius: 0.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .performer-card::after {
      opacity: 0;
      transition: opacity 0.2s ease-out;
      content:"";
      background: linear-gradient(45deg,
      #ff0000 0%, 
      #ff9a00 10%,
      #d0de21 20%,
      #4fdc4a 30%, 
      #3fdad8 40%,
      #2fc9e2 50%, 
      #1c7fee 60%, 
      #5f15f2 70%, 
      #ba0cf8 80%, 
      #fb07d9 90%, 
      #ff0000 100%  )
      repeat 0% 0% / 300% 100%;
      display: flex;
      position: relative;
      inset: -3px;
      border-radius: 16px;
      filter: blur(8px);
      z-index: -1; /*or z-index */
      animation: rgb 6s linear infinite;
      left: 0;
      top: -100%;
      height: 100%;
    }
    .performer-card:hover::after {
      opacity: 1;
    }
    @keyframes rgb {
      0% {background-position: 0% 50%;}
      50% {background-position: 100% 50%;}
      100% {background-position: 0% 50%;}
    }
  .performer-card-image {
    margin-top:1rem;
    margin-bottom: 2rem;
    width: 75%;
    aspect-ratio: 1;
    border-radius: 9999px;
    align-self: center;
  }
  button.btn.favorite-button {
    position: unset;
  }
  .toptop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.75rem;
  }
  .bott {
    margin-left: 0.25rem;
    .performer-card__gender {
      text-transform: capitalize;
    }
  }
  .idk {
    visibility: hidden;
  }
  .top {
    display: flex;
    flex-direction: column;
  }
  a, a:visited, a:hover {
    text-decoration: none;
    color: #fff
  }
  a:has(.fi) {
    padding-left: 1rem;
    .fi {
      line-height: 1.5rem;
    }
  }
  display: flex;
  justify-content: unset!important;
  margin-left: 0;
  margin-right: 0;
  flex-wrap: nowrap;
  overflow-x: scroll;
  width: 100vw;
}
.alt-hidden {
  opacity: 0;
  position: absolute;
  left: 2rem;
}
.performer-card {
  width: 20rem;

  @media (max-width: 576px) {
    width: 100%;
  }

  .thumbnail-section {
    position: relative;
  }

  &-image {
    aspect-ratio: 2/3;
    min-width: 11.25rem;
    object-fit: cover;
    object-position: top;
    width: 100%;
  }

  .fi {
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.9));
  }

  button.btn.favorite-button {
    padding: 0;
    position: absolute;
    right: 5px;
    top: 10px;

    svg.fa-icon {
      margin-left: 0.4rem;
      margin-right: 0.4rem;
    }
  }

  &:hover button.btn.favorite-button.not-favorite {
    opacity: 1;
  }

  &__age {
    color: $muted-gray;
  }

  // allow country string to be shown, but disable by default
  &__country-string {
    display: none;
  }
}

.card {
  &.performer-card {
    padding: 0 0 1rem 0;
  }
}

.scrape-dialog .performer-image {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 100%;
}

#performer-scraper-popover {
  z-index: 1;
}

.PerformerScrapeModal {
  &-list {
    list-style: none;
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding-inline-start: 0;

    li {
      cursor: pointer;
    }
  }
}

.flex-aligned {
  align-items: center;
  column-gap: 0.5rem;
  display: flex;
}

.fa-mars {
  color: #89cff0;
}

.fa-venus {
  color: #f38cac;
}

.fa-transgender-alt {
  color: #c8a2c8;
}

.performer-height .height-imperial,
.performer-weight .weight-imperial,
.performer-penis-length .penis-length-imperial {
  &::before {
    content: " (";
  }

  &::after {
    content: ")";
  }
}

.penis-circumcised {
  &::before {
    content: " ";
  }
}

.favourite-data .favorite {
  color: #ff7373;
}

.performer-table .height-imperial,
.performer-table .weight-imperial,
.performer-table .penis-length-imperial,
.performer-disambiguation {
  color: $text-muted;
  font-size: 0.875em;
}

.performer-table .age-data span {
  border-bottom: 1px dotted #f5f8fa;
}

.performer-result .performer-details > span {
  &::after {
    content: " • ";
  }

  &:last-child::after {
    content: "";
  }
}

.performer-select {
  .performer-disambiguation {
    white-space: pre;
  }

  .performer-select-value .performer-disambiguation {
    color: initial;
  }

  .alias {
    font-weight: bold;
    white-space: pre;
  }

  .performer-select-image {
    margin-right: 0.5em;
    max-height: 50px;
    max-width: 50px;
  }
}

.edit-performers-dialog .modal-body {
  max-height: calc(100vh - 12rem);
  overflow-y: auto;
  padding-right: 1.5rem;
}
